body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Texto en gris oscuro para un buen contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Título */
h2 {
    color: #28a745; /* Color verde */
    text-align: center;
}

/* Etiqueta del campo de texto */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}




/* Campo de entrada */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #28a745; /* Borde verde */
    border-radius: 4px;
    font-size: 16px;
}

/* Botón de enviar */
input[type="submit"] {
    background-color: #28a745; /* Fondo verde */
    color: white; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
}